@use '../../styles/mixins' as *;

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .mobile {
    @include from(10) {
      display: none;
    }
  }

  .desktop {
    display: none;
    height: 100%;

    @include from(10) {
      display: block;
    }
  }
}
